<h1 class="display-6 text-center">Lista aktualnych Samochodów</h1>
<div class="table-responsive">
  <div>
    <button type="button" class="btn btn-success float-end me-2 my-1" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Dodaj samochód</button><br>

      <app-create></app-create>

  </div>
<table class="table text-center">
    <thead>
      <tr>
        <th scope="col">Nazwa Samochodu</th>
        <th scope="col">Miasto</th>
        <th scope="col">Skrzynia Biegów</th>
        <th scope="col">Liczba Drzwi</th>
        <th scope="col">Paliwo</th>
        <th scope="col">Ilość Miejsc</th>
        <th scope="col">Klimatyzacja</th>
        <th scope="col">Cena</th>
        <th scope="col">Opcje</th>
      </tr>
    </thead>
    <tbody *ngFor="let car of cars">
      <tr>
        <td>{{car.name}}</td>
        <td>{{car.city}}</td>
        <td>{{car.gearbox}}</td>
        <td>{{car.doors}}</td>
        <td>{{car.fuel}}</td>
        <td>{{car.people}}</td>
        <td>{{car.condition}}</td>
        <td>{{car.price}}</td>
        <td> <button type="button" class="btn btn-dark m-1" (click)="getCarId(car.id)" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">Edytuj</button>
          <button type="button" (click)="delete(car.id)" class="btn btn-danger m-1">Usuń</button></td>
      </tr>
    </tbody>
  </table>
</div>
<app-edit [data]="sendId"></app-edit>
