<div style="min-height: 75vh;">
<div class="jumbotron jumbotron-sm">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <h1 class="h1">
                    Skontaktuj się z nami</h1>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="well well-sm">
                <form [formGroup]="myCredentials" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-floating my-2">
                            <input type="text" class="form-control" id="name" placeholder="Enter name" formControlName="username" required="required" />
                            <label for="name">Login</label>
                        </div>
                            <div class="form-floating my-2">
                                <input type="email" class="form-control" id="email" placeholder="Enter email" formControlName="email" required="required" />
                                <label for="email">Adres Email</label>
                                </div>
                        <div class="form-floating my-2">
                            <select id="subject" name="subject" class="form-control" formControlName="subject" required="required">
                                <option value="na" selected="">Wybierz jeden:</option>
                                <option value="Pytania dotyczące wynajmu">Pytania dotyczące wynajmu</option>
                                <option value="Pytanie dotyczące samochodu">Pytanie dotyczące samochodu</option>
                                <option value="Pytanie dotyczące strony internetowej">Pytanie dotyczące strony internetowej</option>
                            </select>
                            <label for="subject">
                                Temat</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">
                            <textarea name="message" id="message" style="min-height: 25vh;" formControlName="message" class="form-control my-2" rows="9" cols="25" required="required"
                                placeholder="Wiadomość"></textarea>
                                <label for="name">
                                    Wiadomość</label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <button [disabled]="!myCredentials.valid" type="submit" class="btn btn-success pull-right mt-2" id="btnContactUs" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Wyślij wiadomość</button>
                    </div>
                </div>
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <form>
            <legend><span class="glyphicon glyphicon-globe"></span> Nasze Biuro</legend>
            <address>
                <strong>CarExpress</strong><br>
                Aleja Krakowska 179,<br>
                02-180 Warszawa<br>
                <abbr title="Phone">
                    T:</abbr>
                (+48) 600 975 414
            </address>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Dziękujemy za kontakt</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Postaramy się odpowiedzieć jak najszybciej będzie to możliwe.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>