<footer class="text-white text-center text-lg-start w-100" style="background-color: rgb(0, 0, 0);position: absolute;">
    <!-- Grid container -->
    <div class="container p-4">
      <!--Grid row-->
      <div class="row mt-4">
        <!--Grid column-->
        <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">O Firmie</h5>

          <p>
            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
            voluptatum deleniti atque corrupti.
          </p>

          <p>
            Blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas
            molestias.
          </p>

          
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0 kontakt">
            <h5 class="text-uppercase mb-4">Kontakt</h5>

          <ul class="fa-ul" style="margin-left: 1.65em;">
            <li class="mb-3">
              <span class="fa-li"><i class="fas fa-home"></i></span><span class="ms-2">Aleja Krakowska 179,
                02-180 Warszawa</span>
            </li>
            <li class="mb-3">
              <span class="fa-li"><i class="fas fa-envelope"></i></span><span class="ms-2">info@carexpress.com</span>
            </li>
            <li class="mb-3">
              <span class="fa-li"><i class="fas fa-phone"></i></span><span class="ms-2">600-975-414</span>
            </li>
            <li class="mb-3">
                <span style="text-shadow: 0 0 3px #000000, 0 0 5px #070606;font-size: large;"><a href="https://www.google.com/maps/place/Dolcar+%E2%80%93+wypo%C5%BCyczalnia+samochod%C3%B3w+Warszawa/@52.1842262,20.9497628,17z/data=!3m1!4b1!4m5!3m4!1s0x4719328af24308a7:0xec08a9deb57b3db1!8m2!3d52.1842229!4d20.9519515" 
                    class="link-success" rel="nofollow noopener" target="_blank">Znajdź nas na mapie</a></span>
              </li>
          </ul>
          
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase mb-4">Godziny Pracy</h5>

          <table class="table text-center text-white">
            <tbody class="font-weight-normal">
              <tr>
                <td>Pon - Czw:</td>
                <td>8 - 21</td>
              </tr>
              <tr>
                <td>Pt - Sob:</td>
                <td>8 - 13</td>
              </tr>
              <tr>
                <td>Niedziela:</td>
                <td>9 - 12</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3">
        <div class="mt-2">
        <!-- Facebook -->
        <a type="button" class="btn btn-floating btn-outline-success btn-lg m-2 ms-0"><i class="fab fa-facebook-f"></i></a>
        <!-- Twitter -->
        <a type="button" class="btn btn-floating btn-outline-success btn-lg m-2"><i class="fab fa-twitter"></i></a>
        <!-- Google + -->
        <a type="button" class="btn btn-floating btn-outline-success btn-lg m-2"><i class="fab fa-google-plus-g"></i></a>
        <!-- Linkedin -->
      </div>
    </div>
    <div class="text-center p-3" style="background-color: rgb(0, 0, 0);">
      © 2021 Copyright:
        <br>Dawid Milewski
    </div>
    <!-- Copyright -->
  </footer>