<div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
      <div class="modal-content">
<div class="modal-header">
        <h5 class="modal-title display-6 text-center">Edycja Konta Użytkownika</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
<div class="d-flex justify-content-center text-center" >
<form [formGroup]="credentials">
    <div class="form-group form-floating">
        <input type="text" placeholder="Login" class="form-control my-3 border-top-0 border-end-0 border-start-0"  formControlName="username" required>
        <label for="floatingInput4">Login</label>
        </div>
        <div class="form-group form-floating">
        <input type="email" placeholder="E-mail" formControlName="email" class="form-control my-3 border-top-0 border-end-0 border-start-0"  required>
        <label for="floatingInput5">E-mail</label>
        </div>
        <div class="form-group form-floating">
        <input type="password" placeholder="Hasło" formControlName="password" class="form-control my-3 border-top-0 border-end-0 border-start-0" >
        <label for="floatingInput6">Hasło</label>
        </div>
        <div class="modal-footer justify-content-center border-top-0">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Wróć</button>
            <button class="btn btn-success p-2 px-4" [disabled]="!credentials.valid"
(click)="submit()">
Edytuj Użytkownika
</button>
</div>
</form>
</div></div></div>
</div>