<h1 class="display-6 text-center">Pytania</h1>
<div class="table-responsive">
<table class="table text-center">
    <thead>
      <tr>
        <th scope="col">Temat</th>
        <th scope="col">Wiadomość</th>
        <th scope="col">Opcje</th>
      </tr>
    </thead>
    <tbody *ngFor="let ms of msg">
      <tr>
        <td>{{ms.subject}}</td>
        <td>{{ms.userMessage[0]}}</td>
        <td > <button type="button" (click)="send(ms)" class="btn btn-success m-1"  data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Podgląd</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content" style="word-wrap:break-word;"> 
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Odpowiedz na pytanie</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" style="color:white;">
        <form [formGroup]="myCredentials" (ngSubmit)="onSubmit()">
          
          <div *ngFor="let message of UserMessage;index as i">

            <div class="text-start">
              <div class="text-end bg-success border-secondary rounded-pill px-5 py-2 m-2"><p class="h6">{{username}}:</p>
                {{UserMessage[i]}}
              </div>
            </div>
          
            
            <div class="text-end">
            <div *ngIf="AdminMessage[i]?.length>0" class="text-start end-0 bg-secondary border-success rounded-pill px-5 py-2 m-2"><p class="h6">Administrator:</p>
               {{AdminMessage[i]}}
            </div>
          </div>
      </div>

          <div class="modal-footer">
            <div class="input-group input-group-sm">
              <input type="text" class="form-control m-1" id="message-text" formControlName="userMessage" placeholder="Twoja wiadomość..."/>
              <div class="input-group-append">
                <button type="submit" class="btn btn-success m-1"><i class="fas fa-paper-plane"></i><span class="d-none d-sm-inline"> Wyślij</span></button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
