<div class="bg-image" style="height: 100vh; background-image: url('../assets/background_1445.jpg');background-repeat: no-repeat;background-size:cover;background-position: bottom;">
    <div class="row flex-column justify-content-center align-items-center" style="min-height: 70vh;">
        <div class="mx-auto col-sm-3" style="color:white;">
            <h2 class="logIn display-5 text-center">Rejestracja</h2>
                <form [formGroup]="credentials">
                    <div class="w-75 mx-auto" style="color: black;">
                        <div class="form-group form-floating">
                            <input type="text" placeholder="Login" class="form-control my-3 border-top-0 border-end-0 border-start-0" id="floatingInput" formControlName="username" required>
                            <label for="floatingInput">Login</label>
                            <div *ngIf="validator.username.touched && validator.username.invalid" class="alert alert-danger">
                                <div *ngIf="validator.username.errors?.required">Login jest wymagany.</div>
                                <div *ngIf="validator.username.errors?.minlength">Login powinien zawierać minimum 6 znaków.</div>
                            </div>
                        </div>
                        <div class="form-group form-floating">
                            <input type="email" placeholder="E-mail" formControlName="email" class="form-control my-3 border-top-0 border-end-0 border-start-0" id="floatingInput2" required>
                            <label for="floatingInput2">E-mail</label>
                            <div *ngIf="validator.email.touched && validator.email.invalid" class="alert alert-danger">
                                <div *ngIf="validator.email.errors?.required">Email jest wymagane.</div>
                                <div *ngIf="validator.email.errors?.email">Email jest nieprawidłowy.</div>
                            </div>
                        </div>
                        <div class="form-group form-floating">
                            <input type="password" placeholder="Hasło" formControlName="password" class="form-control my-3 border-top-0 border-end-0 border-start-0" id="floatingInput3" required>
                            <label for="floatingInput3">Hasło</label>
                            <div *ngIf="validator.password.touched && validator.password.invalid" class="alert alert-danger">
                                <div *ngIf="validator.password.errors?.required">Hasło jest wymagane.</div>
                                <div *ngIf="validator.password.errors?.minlength">Hasło powinna zawierać minimum 6 znaków.</div>
                            </div>
                        </div>   
                    </div>
                    <div class="login text-center my-4">
                        <button class="btn btn-secondary p-2 px-4" [disabled]="!credentials.valid"
                        (click)="createNewUser()">
                            Utwórz konto
                        </button>
                    </div>
                    <div class="text-center">
                        Masz juz konto? <br> <a routerLink='/login'><b>Zaloguj się <</b></a>
                    </div>
                    <p *ngIf="isRegistered">Twoje konto zostało utworzone, za 5 sekund zostaniesz
                    przekierowany na strone główną.</p>


                                    
                </form>
        </div>
    </div>
</div>