<div class="bg-image" style="height: 100vh; background-image: url('../assets/background_1445.jpg');background-repeat: no-repeat;background-size:cover;background-position: bottom;">
<div class="row flex-column justify-content-center align-items-center" style="min-height: 70vh;">
<div class="mx-auto col-sm-3" style="color:white;">
                            <h2 class="logIn display-5 text-center">Zaloguj</h2>
                            <form [formGroup]="credentials">
                                <div class="w-75 mx-auto" style="color: black;">
                                <div class="form-group form-floating">
                                    <input type="text" placeholder="Login" class="form-control my-3 border-top-0 border-end-0 border-start-0" id="floatingInput" formControlName="username" required>
                                    <label for="floatingInput">Login</label>
                                        <div *ngIf="validator.username.touched && validator.username.invalid" class="alert alert-danger">
                                            <div *ngIf="validator.username.errors?.required">Login jest wymagany.</div>
                                            <div *ngIf="validator.username.errors?.minlength">Login powinien zawierać minimum 6 znaków.</div>
                                        </div>
                            </div>
                                <div class="form-group form-floating">
                                    <input type="password" placeholder="Hasło" class="form-control my-3 border-top-0 border-end-0 border-start-0" id="floatingPassword" formControlName="password" required>
                                    <label for="floatingPassword">Hasło</label>
                                    <div *ngIf="validator.password.touched && validator.password.invalid" class="alert alert-danger">
                                        <div *ngIf="validator.password.errors?.required">Hasło jest wymagane.</div>
                                        <div *ngIf="validator.password.errors?.minlength">Hasło powinna zawierać minimum 6 znaków.</div>
                                    </div>
                                </div>
                            </div>
                                    <div class="login text-center my-4">
                                        <button class="btn btn-secondary p-2 px-4" [disabled]="!credentials.valid"
                                            (click)="logIn()">
                                            Zaloguj
                                        </button>
                                    </div>
                                    <div class="text-center">
                                        Chcesz utworzyć nowe konto?<br>
                                        <a class="back-to-register"
                                            routerLink='/register'><b>Zarejestruj się ></b></a>
                                    
                                </div>
                            </form>
</div>
</div>
</div>

