@import "~angular-notifier/styles";
body,html{
    margin: 0 auto;
    height: 100%;
    padding: 0;
    margin: 0;
}
@import '~bootstrap/dist/css/bootsrtap.min.css';

body::-webkit-scrollbar {
    display: none;
  }

