<h1 class="display-6 text-center">Statystyki</h1>
    <div class="table-responsive">
      <button type="button" class="btn btn-success float-end me-2 my-1" data-bs-toggle="modal" data-bs-target="#exampleModal">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter" viewBox="0 0 16 16">
          <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"/>
      </svg>
        Filtry
      </button>
    <table class="table text-center">
        <thead>
          <tr>
            <th scope="col">Lp.</th>
            <th scope="col">Nazwa Samochodu</th>
            <th scope="col">Miasto</th>
            <th scope="col">Okres Wynajmu</th>
            <th scope="col">Ilość Dni</th>
            <th scope="col">Cena</th>

          </tr>
        </thead>
        <tbody *ngFor="let rent of rents | carFilter:searchCar | cityFilter:searchCity | priceFilter:searchMinPrice:searchMaxPrice | monthFilter:searchMonth;index as i">
            <ng-container *ngIf="rent.rented==true">
          <tr>
            <td>{{i+1}}</td>
            <td>{{rent.carRent}}</td>
            <td>{{rent.cityRent}}</td>
            <td>{{rent.startDate | date}} - {{rent.endDate | date}}</td>
            <td>{{calculateDiff(rent.startDate,rent.endDate)}}</td>
            <td>{{rent.price}}</td>
            
            
          </tr>
        </ng-container>
        </tbody>
      </table>
    </div>



    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Filtry</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
            <div class="modal-body" >
    
              <div class="col-sm-auto my-2">
                <select class="form-select rounded-pill" id="inputGroupSelect01" [(ngModel)]="searchCar">
                  <option selected>Samochód...</option>
                  <ng-container *ngFor="let rent of rents"><option *ngIf="rent.rented==true">{{rent.carRent}}</option></ng-container>
                </select>
              </div>
                <div class="col-sm-auto my-2">
                <select class="form-select rounded-pill" id="inputGroupSelect02" [(ngModel)]="searchCity">
                  <option selected>Miasto...</option>
                  <ng-container *ngFor="let rent of rents"><option *ngIf="rent.rented==true">{{rent.cityRent}}</option></ng-container>
                </select>
              </div>
          
                <div class="col-sm-auto my-2">
                    <label for="customRange1" class="form-label">Cena min: {{searchMinPrice}}</label>
                    <input type="range" class="form-range" min="1" max="5000" step="1"  id="customRange1" [(ngModel)]="searchMinPrice">
          
                    <label for="customRange2" class="form-label">Cena max: {{searchMaxPrice}}</label>
                    <input type="range" id="customRange2" class="form-range" min="1" max="5000" step="1" [(ngModel)]="searchMaxPrice">
                  </div>
    
                <div class="col-sm-auto my-2">
                    <label for="example-date-input" class="col-form-label">Wybierz miesiąc: {{searchMonth}}</label>
                    <input class="form-control rounded-pill" type="month" [(ngModel)]="searchMonth">
                  </div>
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success" data-bs-dismiss="modal">Ok</button>
    
          </div>
        </div>
      </div>
    </div>